In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
df = pd.read_csv('autos.csv', encoding = 'ISO-8859-1')
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [3]:
df.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
df = df.drop(['dateCrawled', 'name', 'seller', 'offerType', 'dateCreated', 'nrOfPictures',
              'postalCode', 'lastSeen'] , axis = 1)
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [5]:
for coluna in df.columns:
    if df[coluna].dtype == 'float64':
        if df[coluna].isna().any():
            media = df[coluna].mean()
            df[coluna].fillna(media, inplace=True)

for coluna in df.columns:
    if df[coluna].dtype == 'object':
        if df[coluna].isna().any():
            moda = df[coluna].mode().iloc[0]
            df[coluna].fillna(moda, inplace=True)

In [6]:
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,limousine,2005,manuell,0,golf,20000,1,benzin,sonstige_autos,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [7]:
df.loc[df['price'] <= 10] = df['price'].mean()
df = df[df['price'] < 350000]
df

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480.0,test,limousine,1993.0,manuell,0.0,golf,150000.0,0.0,benzin,volkswagen,nein
1,18300.0,test,coupe,2011.0,manuell,190.0,golf,125000.0,5.0,diesel,audi,ja
2,9800.0,test,suv,2004.0,automatik,163.0,grand,125000.0,8.0,diesel,jeep,nein
3,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000.0,6.0,benzin,volkswagen,nein
4,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000.0,7.0,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200.0,test,limousine,2005.0,manuell,0.0,golf,20000.0,1.0,benzin,sonstige_autos,nein
371524,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000.0,3.0,benzin,smart,nein
371525,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000.0,3.0,diesel,volkswagen,nein
371526,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000.0,6.0,diesel,volkswagen,nein
371527,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000.0,8.0,benzin,bmw,nein

In [8]:
previsores = df.iloc[:, 1:13].values
classe = df.iloc[: , 0].values
previsores

array([['test', 'limousine', 1993.0, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011.0, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004.0, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996.0, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002.0, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013.0, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [9]:
labelencoder = LabelEncoder()

for coluna in range(previsores.shape[1]):
    if previsores[:, coluna].dtype == object:
        
        previsores[:, coluna] = previsores[:, coluna].astype(str)
        
        previsores[:, coluna] = labelencoder.fit_transform(previsores[:, coluna])

In [10]:
from sklearn.compose import ColumnTransformer

column_transformer = ColumnTransformer([
    ('categorical_features', OneHotEncoder(), [0, 1, 3, 5, 8, 9, 10]),
])

previsores = column_transformer.fit_transform(previsores)

In [14]:
previsores.shape[1]

319

In [15]:
modelo = Sequential()

modelo.add(Dense(158, activation = 'relu', input_dim = previsores.shape[1]))
modelo.add(Dropout(0.3))

modelo.add(Dense(158, activation = 'relu'))
modelo.add(Dropout(0.2))

modelo.add(Dense(158, activation = 'relu'))

modelo.add(Dense(1, activation = 'linear'))

In [ ]:
modelo.compile(loss = 'mean_absolute_error', optimizer = 'adam', metrics = ['mean_absolute_error'])
modelo.fit(previsores, classe, batch_size = 300, epochs = 100)

Epoch 1/100
1239/1239 [==============================] - 100s 71ms/step - loss: 3565.6943 - mean_absolute_error: 3565.6943
Epoch 2/100
1239/1239 [==============================] - 94s 73ms/step - loss: 3179.8635 - mean_absolute_error: 3179.8635
Epoch 3/100
1059/1239 [========================>.....] - ETA: 14s - loss: 3143.6255 - mean_absolute_error: 3143.6255